/* import reset.css */
@import url(reset.css);

/* color scheme: https://paletton.com/#uid=23V0u0k699R4Nmp5GgxbV6qiT6g */
html {
	background-color: steelblue;
	color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 62.5%; /*10px based on the default font size of the browswer*/
}

body {
	line-height: 1.4;
}

h1 {
	font-weight: 400;
	font-size: 5rem;
	line-height: 1.1;
	color: #DCDCDC;
	text-align: center;
	clear: both;
	padding: 0.7rem 1.5rem;
}

h2 {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 1.1; 
	text-align: center;
	color: #226765;
}

	h2 a {
		font-size: inherit;
	}

h3 {
	font-size: 1.8rem; 
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	color: #226765;
}
 
p {
	font-size: 1.4rem;
}

a {
	font-size: 1.6rem;
	text-decoration: none;
}

#WebPage {
	width: 90%;
	margin: 1.5rem auto;
}

#banner { 
	background-color: #226765;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1.5rem;
}
    #banner a#BSULink{ 
        float: left;
    }

	#banner nav { 
		background-color: #AA6b39;
		border-radius: 10px;
		padding: 0.5rem 0;
		overflow: hidden;
        clear: both;
	}
    #banner nav ul { 
        text-align: center;
    }

    #banner nav li {
        display: inline;
    }

    #banner nav a { 
        color: #DCDCDC;
        padding: 1.0rem 1.0rem;
    }

        #Banner nav a:hover { 
            background-color: #0D4D4B;
            color: #AA6b39;
        }


    #banner a#harrison {
        float: right;
    }

        #banner a#harrison img {
            height: 150px;
            width: 250px;
            border-radius: 50px;
        }


  

/* Content*/
#Wrapper {
	background-color: #ECECEC;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	margin-bottom: 1.5rem;
	overflow: hidden;
}

	#Wrapper h2 {
		padding: 1rem 0;
	}

.WrapperMain { 
	background-color: #ECECEC;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	overflow: hidden;
	font-size: 1.5rem;
}

/* sidelinks*/
#SideLinks {
	width: 20%;
	float: left;
	background-color: #ECECEC;
	padding-top: 1rem;
}

	#SideLinks ul {
		text-align: center;
	}

	#SideLinks li {
		padding: 1.0rem;
	}

	#SideLinks a {
		color: #072c66;
	}

		#SideLinks a:hover {
			color: #AA6b39;
			text-decoration: underline;
		}

/*Blog articles*/

#stuff {
    width: 85%;
    float: right;
    background-color: white;
}

    #stuff a {
        color: #4E4A3F;
    }

        #stuff a:hover {
            color: #847D6C;
            text-decoration: underline;
        }

    #stuff p {
        padding: 0.5rem;
    }

    #stuff hr {
        border-color: #eeeeee;
        border-style: ridge;
    }

    #stuff footer {
        padding: 0.5rem;
    }

/* Footer*/

#Footer {
    background-color: #4D4E5B;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    padding: 1.5rem;
    overflow: hidden;
}

    #Footer .BSUlogo {
        float: left;
    }

.BSUlogo a img {
    height: 70px
}


#Footer p {
    clear: both;
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: darkgray;
}

div.video{
    float:right;
    padding-right: 20px;
}


/*Animationn*/
 
  
  .sphere {
    animation: spin 30s infinite linear;
    height:200px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    width: 200px;
  }
  
  .sphere:before {
    animation: reverse-spin 30s infinite linear;
    background-image:linear-gradient(#ccc, #333);
    border-radius:50%;
    content:"";
    height:200px;
    left:0;
    position:absolute;
    top:0;
    width:200px;
  }
  
  .sphere:after {
    animation: reverse-spin 30s infinite linear;
    border-top:solid 3px #333;
    content:"";
    height:50%;
    left:0;
    position:absolute;
    right:0;
    top:50%;
    width:100%;
    z-index:1;
  }
  
  .sphere .circle {
    border:solid 2px #333;
    border-radius:50%;
    box-sizing:border-box;
    height: 200px;
    left:0;
    opacity:.5;
    position: absolute;
    top:0;
    width: 200px;
  }
  
  
  .sphere .weapon {
    background-image:linear-gradient(#333, #ccc);
    border-radius:50%;
    height:40px;
    left:50px;
    position:absolute;
    top:40px;
    transform:translateZ(88px) rotateX(12deg);
    width:40px;
  }
  
  .sphere .weapon:before {
    background-color:#666;
    border-radius:50%;
    content:"";
    height:5px;
    left:18px;
    position:absolute;
    top:18px;
    width:5px;
  }
  
  @keyframes spin {
    0% {
      transform:rotateY(-20deg);
    }
    50% {
      transform:rotateY(60deg);
    }
    100% {
      transform:rotateY(-20deg);
    }
  }
  
  @keyframes reverse-spin {
    0% {
      transform:rotateY(20deg);
    }
    50% {
      transform:rotateY(-60deg);
    }
    100% {
      transform:rotateY(20deg);
    }
  }
  