/* import reset.css */
@import url(reset.css);

/* color scheme: https://paletton.com/#uid=23V0u0k699R4Nmp5GgxbV6qiT6g */

html {
    background-color: steelblue;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 62.5%; /* 10px based on a browser default of 16px */
}

body {
    line-height: 1.4;
}

h1 {
    font-weight: 400;
    font-size: 3.6rem;
    color: steelblue;
    text-align: center;
    clear: both;
    padding: 1.5rem 1.5rem;
    line-height: 1.1rem;
}

h2 {
    font-size: 2.2rem;
    color: #847D6C;
    text-align: center;
}

    h2 a {
        font-size: inherit;
    }

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

/* WebPage layout*/
#WebPage {
    width: 960px;
    margin: 1.5rem auto;
}

/* Banner */
#banner {
    background-color: #4D4E5B;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    padding: 1rem 1rem 0 1rem;
    margin: 1.5rem;
}

    #banner a#harrison {
        float: right;
    }

        #banner a#harrison img {
            height: 150px;
            width: 250px;
            border-radius: 50px;
        }


    #banner nav {
        background-color: #3f3f3e;
        border-radius: 10px;
        padding: .5rem 0;
        overflow: hidden;
    }

        #banner nav ul {
            text-align: center;
        }

        #banner nav li {
            display: inline;
        }

        #banner nav a {
            color: darkgray;
            padding: 1.0rem 2.0rem;
        }

            #banner nav a:hover {
                background-color: #6B6D7B;
            }

/* Content*/
#Wrapper {
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    margin-bottom: 1.5rem;
    overflow: hidden;
}

    #Wrapper h2 {
        padding: 1rem 0;
    }

/* sidelinks*/
#Sidelinks {
    width: 15%;
    float: left;
}

    #Sidelinks ul {
        text-align: center;
    }

    #Sidelinks li {
        padding-bottom: 1rem;
    }

    #Sidelinks a {
        color: #131210;
    }

        #Sidelinks a:hover {
            color: #847D6C;
            text-decoration: underline;
        }

/*Blog articles*/

#Posts {
    width: 85%;
    float: right;
    background-color: white;
}

    #Posts a {
        color: #4E4A3F;
    }

        #Posts a:hover {
            color: #847D6C;
            text-decoration: underline;
        }

    #Posts p {
        padding: 0.5rem;
    }

    #Posts hr {
        border-color: #eeeeee;
        border-style: ridge;
    }

    #Posts footer {
        padding: 0.5rem;
    }

/* Footer*/

#Footer {
    background-color: #4D4E5B;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #333333;
    padding: 1.5rem;
    overflow: hidden;
}

    #Footer #BSUlogo {
        float: left;
    }

#BSUlogo a img {
    height: 70px
}


#Footer p {
    clear: both;
    padding-top: 1rem;
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    color: darkgray;
}




/*Animationn*/
 
  
  .sphere {
    animation: spin 30s infinite linear;
    height:200px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
    width: 200px;
  }
  
  .sphere:before {
    animation: reverse-spin 30s infinite linear;
    background-image:linear-gradient(#ccc, #333);
    border-radius:50%;
    content:"";
    height:200px;
    left:0;
    position:absolute;
    top:0;
    width:200px;
  }
  
  .sphere:after {
    animation: reverse-spin 30s infinite linear;
    border-top:solid 3px #333;
    content:"";
    height:50%;
    left:0;
    position:absolute;
    right:0;
    top:50%;
    width:100%;
    z-index:1;
  }
  
  .sphere .circle {
    border:solid 2px #333;
    border-radius:50%;
    box-sizing:border-box;
    height: 200px;
    left:0;
    opacity:.5;
    position: absolute;
    top:0;
    width: 200px;
  }
  
  
  .sphere .weapon {
    background-image:linear-gradient(#333, #ccc);
    border-radius:50%;
    height:40px;
    left:50px;
    position:absolute;
    top:40px;
    transform:translateZ(88px) rotateX(12deg);
    width:40px;
  }
  
  .sphere .weapon:before {
    background-color:#666;
    border-radius:50%;
    content:"";
    height:5px;
    left:18px;
    position:absolute;
    top:18px;
    width:5px;
  }
  
  @keyframes spin {
    0% {
      transform:rotateY(-20deg);
    }
    50% {
      transform:rotateY(60deg);
    }
    100% {
      transform:rotateY(-20deg);
    }
  }
  
  @keyframes reverse-spin {
    0% {
      transform:rotateY(20deg);
    }
    50% {
      transform:rotateY(-60deg);
    }
    100% {
      transform:rotateY(20deg);
    }
  }
  