div #square{
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: square;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  float: center;
}

@keyframes square {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}



/*Triangle*/

.triangle-up {
width: 0;
height: 0;
  position: relative;
  animation-name: triangle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 50px solid #555;
}


@keyframes triangle {
  0%   {border-bottom-color:red;}
  25%  {border-bottom-color:yellow; }
  50%  {border-bottom-color:blue; }
  75%  {border-bottom-color:green; }
  100% {border-bottom-color:red; }
}

/*circle*/

.circle {
  width: 50px;
  height: 50px;
  background-color: #40a977;
  border-radius: 50%;
  shape-outside: circle();
  
}


/*background gradient*/
.css-selector {
  background: linear-gradient(140deg, #ff5100, #0081ff, #3da832);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 0s ease infinite;
  -moz-animation: AnimationName 0s ease infinite;
  -o-animation: AnimationName 0s ease infinite;
  animation: AnimationName 0s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 79%}
  50%{background-position:100% 22%}
  100%{background-position:0% 79%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 79%}
  50%{background-position:100% 22%}
  100%{background-position:0% 79%}
}
@-o-keyframes AnimationName {
  0%{background-position:0% 79%}
  50%{background-position:100% 22%}
  100%{background-position:0% 79%}
}
@keyframes AnimationName {
  0%{background-position:0% 79%}
  50%{background-position:100% 22%}
  100%{background-position:0% 79%}
}