html {background-color:steelblue;
  color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 62.5%;}
body {
  font-family: Arial;
  margin: 10px;
  padding: 0.5em;
  padding-bottom: 2em;
  border-bottom: 10em solid #226765;
  min-width: 270px;
}
h3 {
  margin: 0.5em 0 0 0;
}

table {
  position: absolute;
  right: calc((100% - 8em) / 2);
  margin-top: 3em;
  font-family: Comic Sans MS, Courier;
  font-style: italic;
  color: ivory;
  border-spacing: 0.5em;
}
caption {
  font-size: 1.25em;
  font-weight: bold;
}
th {
  width: 3.5em;
  border-bottom: 1px solid ivory;
}
th,
td {
  text-align: center;
  padding-top: 0.5em;
}

#Table {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /*align-content:center;*/
  width: 100hw;
  padding: 1em 2%;
  color:ivory;
  background-color: DarkGreen;
  background: #226765;
  border: 13px ridge #226765;
  border-radius:2%;
}
#Table .player-hand {
  width: auto;
  padding: 0 2%;
}

#Table big {
  font-size: 10em;
  line-height: 1;
  display: inline-block;
  background-color: white;
  border-radius: 5%;
  padding: 1.5px 1px 0px 1px;
  color: navy;
}
#Table big[title*="clubs"],
#Table big[title*="spades"] {
  color: black;
}
#Table big[title*="diamonds"],
#Table big[title*="hearts"] {
  color: maroon;
}
#Table h2 {
  margin-top: 0;
}
#Table .looser {
  color: darkseagreen;
}
#Table .looser big {
  color: gainsboro;
}
#Table .winner {
  color: gold;
}
#Table p.winner {
  font-weight: bold;
  font-size: 1.5em;
}
#Table .winner big {
  color: goldenrod;
}

.game {
  text-align: center;
  flex-grow: 2;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.game aside > big {
  margin-top: 0.15em;
}
.game aside > strong {
  font-size: 1.25em;
  display: block;
  margin-bottom: 0.15em;
}
.game aside > strong + big {
  margin-top: 0;
}

@keyframes blinkingWinner {
  0% {
    opacity: 100%;
  }
  69% {
    opacity: 100%;
  }
  70% {
    opacity: 0%;
  }
  99% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
/* sm breakpoint */
@media (min-width: 470px) {
}
/* md breakpoint */
@media (min-width: 768px) {
  body {
    padding-right: 2em;
    border-right: 11em solid darkslategray;
    border-bottom: none;
  }
  table {
    position: absolute;
    top: 5em;
    right: calc((11em - 8em) / 2);
  }

  #Table {
    flex-wrap: nowrap;
    height: auto;
    padding: 1.5em 1.5%;
  }
  #Table .player-hand:nth-child(2) {
    order: 3;
  }
}
/* lg breakpoint */
@media (min-width: 1024px) {
  body {
    border-right-width: 15em;
  }
  table {
    right: calc((15em - 8em) / 2);
  }
  #Table {
    padding: 1.5em 5%;
  }
}
/* xlg breakpoint */
@media (min-width: 1200px) {
  #Table {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  #Table p.winner {
    animation: blinkingWinner 1.5s 3;
  }
}