/* Import reset.css*/
@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

/*color scheme https://paletton.com/#uid=23h050kllllaFw0g0qFqFg0w0aF Primary color #226765 complement color #AA6b39*/

html {
	background-color: steelblue;
	color: black;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 62.5%; /*10px based on the default font size of the browswer*/
}
 /*harrison*/
body {
	line-height: 1.4;
	background-color: steelblue;
}

h1 {
	font-weight: 400;/*harrison*/
	font-size: 5rem;
	line-height: 1.1;
	color: #DCDCDC;
	text-align: center;
	clear: both;
	padding: 0.7rem 1.5rem;
}

h2 {
	font-size: 2.2rem;
	font-weight: 400;
	line-height: 1.1; 
	text-align: center;
	color: #226765;
}

	h2 a {
		font-size: inherit;
	}

h3 {
	font-size: 1.8rem; 
	font-weight: 400;
	line-height: 1.1;
	text-align: center;
	color: #226765;
}
 /*harrison*/
p {
	font-size: 1.4rem;
}

a {
	font-size: 1.6rem;
	text-decoration: none;
}

#WebPage {
	width: 90%;
	margin: 1.5rem auto;
	
}

#Banner { /* Nathan */
	background-color: #226765;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	padding: 1rem 1rem 0 1rem;
	margin-bottom: 1.5rem;
	
}
    #Banner a#BSULink{ /* Nathan */
        float: left;
    }

	#Banner nav { /* Nathan */
		background-color: #AA6b39;
		border-radius: 10px;
		padding: 0.5rem 0;
		
        clear: both;
	}

		#Banner nav ul { /* Nathan */
			text-align: center;
		}

		#Banner nav li { /* Nathan */
			display: inline;
		}

		#Banner nav a { /* Nathan */
			color: #DCDCDC;
			padding: 1.0rem 1.0rem;
		}

			#Banner nav a:hover { /* Nathan */
				border-radius: 10px;
				background-color: #0D4D4B;
				color: #DCDCDC;
			}

/*-------------------------------------Content area-------------------------------------*/
#Wrapper {
	background-color: #ECECEC;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	margin-bottom: 1.5rem;
	overflow: hidden;
}

	#Wrapper h2 {
		padding: 1rem 0;
	}

.WrapperMain { /* Nathan */
	background-color: #ECECEC;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	margin-bottom: 1.5rem;
	padding: 1.5rem;
	overflow: hidden;
	font-size: 1.5rem;
}

.WrapperMain img#NathanPNG{ /* Nathan */
    float: right;
}

.WrapperMain h2#NABout{ /* Nathan */
	clear:both;
}

.IframePages{ /* Nathan */
	background-color: #ECECEC;
	font-size: 1.5rem;	
}

#mainIframe { /* Nathan */
	width: 100%;
	height: 100%;
}

#About{ /* Nathan */
	color: black;
	font-size: 3rem;
}

#Nathan{ /* Nathan */
	font-family: 'Quintessential', cursive;
	float: center;
    clear: none;
}

#BSULogo { /* Nathan */
    width: 100px;
    height: auto;
    padding-right: 5px;
    padding-top: 5px;
	border-radius: 10px;
	margin-bottom: 1rem;
}

#NathanPNG{ /* Nathan */
	width: 200px;
    height: auto;
	margin: 5px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
}

#NathanPNG:hover{ /* Nathan */
	width: 400px;
    height: auto;	
}

#NathanAbout{ /* Nathan */
	padding: .5rem;
}

#NathanMainPic{ /* Nathan */
	width: 200px;
    height: auto;
	margin-bottom: 1rem;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;	
}

.ball {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px #333333;  
    background-color: #FF5722;
    background-image: linear-gradient(135deg, white, darkred);   
    animation: bounce 0.5s cubic-bezier(.5,0.05,1,.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    float:left;
  }
  @keyframes bounce {
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 200px, 0); }
  }

#elite{ /* Nathan */
	width:auto;
	height:auto;
	clear:right;
	float: right;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	margin-top: 10px;
}
/*----------------------------Snake--------------------------------------*/
#snakeGame{
	/*clear: left;*/
	background-color: #226765;
	width: 500px;
	/* float: left; */
	padding: 1rem;
	border-radius: 2rem;
	margin-top: 1rem;
	color:#DCDCDC;
}
#snakeGame h3{
	color:#DCDCDC;
}
.gridSnake {
    width: 200px;
    height: 200px;
	margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    background-color: lightblue;
  }
  
  .gridSnake div {
    width: 20px;
    height: 20px;
  }
  
  .snake {
    border-radius: 3px;
    background-color: green;
	background-image: radial-gradient(green, rgb(69, 187, 69));
  }
  
  .apple {
    background-color: red;
	background-image: radial-gradient(red, darkred);
    border-radius: 7px 7px 9px 9px;
  }

/*----------------------------frogger--------------------------------------*/
#frogger{
	/* clear: right; */
	background-color: #226765;
	width: 500px;
	/* float: right; */
	padding: 1rem;
	border-radius: 2rem;
	margin-top: 1rem;
	color:#DCDCDC;
}
#frogger h3{
	color:#DCDCDC;
}
.gridFrog {
    border: 1px solid black;
    height: 180px;
    width: 180px;
    display: flex;
    flex-wrap: wrap;
	margin: auto;
	background-color: rgb(161, 185, 161);
}

.gridFrog div {
    height: 20px;
    width: 20px;
}

.ending-block {
    background-color: red;
	background-image: radial-gradient(blue,rgb(0, 0, 201), blue);
}

.starting-block {
    background-color: blue;
}
.l1 {
    background-color: brown;
	background-image: linear-gradient(rgb(100, 17, 17),brown, rgb(100, 17, 17));
	border-radius: 5px 0px 0px 5px;
}
.l2 {
    background-color: brown;
	background-image: linear-gradient(rgb(100, 17, 17),brown, rgb(100, 17, 17));
}
.l3 {
    background-color: brown;
	background-image: linear-gradient(rgb(100, 17, 17),brown, rgb(100, 17, 17));
	border-radius: 0px 5px 5px 0px;
}
.l4, .l5 {
    background-color: lightblue;
}

.c1 {
    background-color: black;
	background-image: linear-gradient(black,grey, lightgrey, grey, black);
}

.c2, .c3 {
    background-color: lightgrey;
}

.frog {
    background-color: green;
	background-image: radial-gradient(green, rgb(23, 90, 23), black);
	border-radius: 10px;
	
}

#harrisonPic{ 
	width: 200px;
 	height: auto;
	margin-bottom: 1rem;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
}
	#stevePicture{ /* Steve */
	width: 200px;
	height: auto;
	margin-bottom: 1rem;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
}
/*----------------------------side links--------------------------------------*/
#SideLinks {
	width: 20%;
	float: left;
	background-color: #ECECEC;
	padding-top: 1rem;
}

	#SideLinks ul {
		text-align: center;
	}

	#SideLinks li {
		padding: 1.0rem;
	}

	#SideLinks a {
		color: #072c66;
	}

		#SideLinks a:hover {
			color: #AA6b39;
			text-decoration: underline;
		}

/*----------------------------------------------Blog Articles----------------------------------------*/
#Posts {
	width: 80%;
	float: right;
	background-color: white;
}

	#Posts a {
		color: #226765;
	}

		#Posts a:hover {
			color: #AA6b39;
			text-decoration: underline;
		}

	#Posts p {
		padding: 1rem;
		margin: 1.5rem 0;
	}

	#Posts hr {
		border-color: #eeeeee;
		border-style: ridge;
	}

	#Posts footer {
		padding: 0.5rem;
	}

/*----------------------------------------------------Footer----------------------------------*/
#Footer {
	background-color: #AA6b39;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	padding: 1.5rem;
	margin-bottom: 1.5rem;
	overflow: hidden;
}

#Footer p {
	clear: both;
	padding-top: 1rem;
	text-align: center;
	font-size: 1rem;
	font-style: italic;
	color: #393939;
}

/*-------------------------------------------------------------------------------------------------*/
#BSULogo2 { /* Nathan */
    width: 100px;
    height: auto;
    padding-right: 5px;
    padding-top: 5px;
	border-radius: 10px;
	margin-bottom: 1rem;
}

#stevePNG{ /* Nathan */
	width: 200px;
    height: auto;
	margin: 5px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #333333;
	float: right;
}